<! shows about page with spotify link button>

<!DOCTYPE html>
<!w3schools link: https://www.w3schools.com/css/default.asp>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="<link rel="stylesheet" href="https://use.typekit.net/yfs1fpf.css">">
<head>
<style>
.w3-btn {width:150px;}
body,h1 {font-family: "futura-pt", sans-serif}
h1 {font-weight: 700;}
body {font-weight: 200;}

body, html {height: 100%}
.bgimg {
  background-image: url('https://user-images.githubusercontent.com/50106954/104358720-c056a280-5506-11eb-8e1b-bde88accb322.png');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

<div class="w3-display-topmiddle w3-margin w3-xxxlarge"
    <center><img src="/static/Mr_Happy_bk.jpg" alt="Mr Happy App logo" width="90" height="90"/></center>
</div>

<div class="w3-display-middle w3-margin w3-xxxlarge"
    <body><center>Make a playlist based on your current mood, predicted by a neural network!</center></body>
    <center><img src="{{ user_image }}" alt="User Image" width="300" height="300"/></center>
    <body><center><a href="{{url_for('emotion_playlist')}}" class="w3-button w3-large w3-white w3-round-xxlarge w3-hover-green w3-padding-large">GET STARTED</a></center></body>
</div>
<div style="color:white" class="w3-display-bottommiddle w3-padding-large">
    Learn more about this app at <a href="https://www.higoralves.com/mr-happy-app" target="_blank">higoralves.com</a>
</div>
</div>

</div>
</body>
<head>
</html>
